@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


body{
    display: flex;
    height: 90vh;
    padding: 0 5rem;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #ff98bb;
    font-family: "Playfair Display", serif;
}


.menu{
	background-color:#feb2a8;
	border-radius: 18px;
	justify-content: center; /* Center the content horizontally */
  	align-items: center; /* Center the content vertically */
}	
 ol {
	display: flex;
	
}



.dropdown{
	background-color:#f4b6c2;
	border:1px solid black;
	border-radius: 18px;
	border-bottom: none;
	box-sizing: border-box;
	position: absolute;
	display: none;
	transition: all 0.3s ease;
	
}
/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
	width: 8px; }
.dropdown.visible {
	max-height: 70px; /* Adjust this value based on your design */
	overflow-y: auto; /* Enable vertical scrolling */  
	width: 70%;
	border-radius: 18px;
	transition: all 0.3s ease;
	background-color:  #feb2a8;
	font-family: "Playfair Display", serif;
	font-size: 16px;
	margin-bottom: 1rem;
	margin-top: 1rem;
	display:block;
	margin-left: 60px;
	text-align: left;
	position: relative;
	display:inline-block;
	
}

.input-clear-container{
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	cursor: pointer;
	display: inline-block;

}


.menu-item{
	border: black;
	width: 70%;
	position:relative;
	border-radius: 18px;
	transition: all 0.3s ease;
	height: 28px;
	background-color:  #feb2a8;
	font-family: "Playfair Display", serif;
	font-size: 16px;
	margin-bottom: 1rem;
	margin-top: 1rem;
	display:block;
	margin-left: 60px;
	text-align: center;

}

.menu-item:hover {
	background-color:#343030;
	
}

.itemsub:hover{
	background-color:#feb2a8;
	color: #ffffff;
	border-radius: 18px;
	transition: all 0.3s ease;
	height: 28px;
}

.itemsub{
	width: 100%;
	font-family: "Playfair Display", serif;
	font-weight: 600;
	color:#f6abb6;
	text-align: center;
	background-color:#343030;
	border-radius: 18px;
	transition: all 0.3s ease;
	height: 28px;
	align-items: center;

}

.form-control{
	background-color: #343030;
	color:  #feb2a8;
	width: 70%;
	margin-left:60px;
	font-family: "Playfair Display", serif;	height: 50px;
	font-size: large;
	text-align: center;
	border-radius: 18px;
}

.form-control:hover{
	background-color: #ff98bb;
	color: #343030;
}